@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Poppins', sans-serif;
    --color-primary: #3674b5;
    --color-accent: #5678ab;
    --color-secondary: #ebebeb;
    --color-header: #364153;
    --color-background: #f1f5f9;

    --animate-blob: 'blob 7s infinite', 'bounce-slow':'bounce 3s infinite';

    @keyframes blob {
        0% {
            transform: translate(0px, 0px) scale(1);
        }

        33% {
            transform: translate(30px, -50px) scale(1.1);
        }

        66% {
            transform: translate(-20px, 20px) scale(0.9);
        }

        100% {
            transform: translate(0px, 0px) scale(1);
        }
    }
}